<!DOCTYPE html>
<html>
<head>
<style>
h1 {
  text-align: center;
}

.city {
  background-color: rgb(20, 59, 131);
  color: white;
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
}
</style>
</head>
<body>
    <h1>Frequently Ask Question</h1>

<div class="city">
<h3>What is StayEase?</h3>
<p>A Hotel Reservation System is a computerized system. Which, most noteworthy, manages all the information regarding hotel reservation. 
    It helps you to take bookings and manage inventory. And It also makes your presence online by launching your hotel's website.
</p>

</div> 

<div class="city">
<h3>I've been charged. Do I need to do anything?</h3>
<p>No, you don't need to do anything. We charged you for the price of the booking. If there are additional taxes or charges
    this information should be displayed on the property page.

</p>
</div>

<div class="city">
<h3>Can I cancel my booking?</h3>
<p>If your booking is non-refundable you cannot cancel. If your booking is free cancellation or partially refundable, check your
    confirmation email or confirmation page in the Bookings section of your account for the cancellation costs.</p>
</div>

<div class="city">
    <h3>Can I make changes to my booking?</h3>
    <p>It's not possible to make any changes to your booking. This includes actions like changing the stay dates, 
        guest name or email address.</p>
    </div>

<div class="city">
    <h3>How do I know if my booking was cancelled?</h3>
    <p>After you cancel a booking with us, you should receive an email to confirm the cancellation. Check your inbox and spam/junk mail folders.
    <br>
    <br>    If you've received an email from StayEase.com cancelling your booking, your booking has been cancelled and we've refunded you. 
    The processing time depends on your bank. If you have questions, contact your bank directly.</p>
    </div>

    <div class="city">
        <h3>Where can I find the cancellation policy?</h3>
        <p>You can find this in your booking confirmation email.</p>
        </div>

        <div class="city">
            <h3>How can I request an extra service from the property?</h3>
            <p>If you'd like to request an extra service like an extra bed, early check-in or transportation to the property, please contact
                 the property directly 1-2 days before arrival. There is no guarantee, but they may be able to help.</p>
            </div>

    
            <div class="city">
                <h3>How do you keep my personal details safe when working with partner companies?</h3>
                <p>We only provide partner companies (Trip Providers) with the information necessary to complete your booking. 
                    Please read our Privacy statement for full details.</p>
                </div>
</body>
</html>
 