<!DOCTYPE html>
<html>
<head>
<style>
h1 {
  text-align: center;
}

h2 {
  text-align: left;
}

h3 {
  text-align: left;
}

p {
    text-align: right;
}


</style>
</head>
<body>

    <h1>About Us</h1>
    <h6 style="color:rgba(8, 8, 207, 0.989);">OUR MISSION</h6>
    <h3>More Reservations. Happier Guests.</h3>

    <p>We simplify the complicated world of reservations, and reporting so our clients can spend time on their most important job, taking 
    care of their guests. Through our software suite, we enable properties to compete alongside the biggest brands in hospitality,
    no matter their size.

    We're passionate about connecting people around the world to create more meaningful travel experiences between owners,
    operators, and their guests. Amazing hospitality isn't just reserved for five star hotels.</p>

    <h6 style="color:rgba(8, 8, 207, 0.989);">OUR PEOPLE</h6>
    <h3>Driving the hospitality industry forward.</h3>

    <p>From data architects to UX designers, integrations managers to compliance experts, hotel owners to hostel managers, 
        former travel agents to former OTA executives, the StayEase team comprises the brightest minds in technology and hospitality working
        to solve the industry's biggest challenges and drive the industry forward.

        We are passionate about travel and hospitality and pride ourselves on exceptional support and advocacy for the industry. We are available 
        to our customers 24/7/365 and provide continued training and resources to educate the next generation of hoteliers and hosts.
    </p>

    <h6 style="color:rgba(8, 8, 207, 0.989);">HOW WE WORK</h6>
    <h3>Remote first. Remote always.</h3>

    <p>From the beginning, we've believed that people are our best asset, so we've founded the company as #RemoteFirst, #RemoteAlways so that we 
        could build a global company that hires the best talent regardless of location.

        We've since grown to 700+ employees distributed across 40+ countries speaking 30+ languages. We foster an inclusive environment that
        celebrates bold thinking and diverse perspectives, and offer numerous benefits to promote well-being and professional development.</p>
<br>
        <h2>Want to join our global community and drive this industry forward? We're hiring!</h2>

</body>
</html>