<!DOCTYPE html>
<html>
<body>

    <br> 
<h1>StayEase: Hotel Booking Online</h1>
<br>
<p style="display:inline-block;">
    <img src="https://imgcy.trivago.com//hardcodedimages/homepage-landing/usp/SearchDesktop.svg" style="height: 150px;">
    Search simply.
    Search through 5 million hotels in just a few seconds.
</p>
  <p style="display:left;">
    <img src="https://imgcy.trivago.com//hardcodedimages/homepage-landing/usp/CompareDesktop.svg" style="height: 150px;">
    Compare confidently.
    Compare hotel prices from 100s of sites at once.
  </p>
  <p style="display:inline-block;">
    <img src="https://imgcy.trivago.com//hardcodedimages/homepage-landing/usp/SaveDesktop.svg" style="height: 150px;">
    Save big.
    Discover a great deal to book on our partner sites.
  </p>
  <br>
  <div align="center">
  <h2>StayEase, The Best Online Hotel Booking Platform in Southeast Asia</h2></div><br>
  <div align="center">
    <h3>Explore The World and Create Your Moment With StayEase</h3></div><br>
    <div align="center"><p>StayEase is Southeast Asia's leading digital travel and lifestyle booking platform, enabling discovery and booking 
        of transport, accommodation and lifestyle products. StayEase's comprehensive product portfolio includes transport booking services
        including hotels, apartments, guest houses, homestays, resorts, and villas, making StayEase as a booking platform with widest selections 
        of accommodation and packages.
<br><br>
StayEase is also a key player in the lifestyle segment offering reservation for attractions and activities, connectivity, as well as 
        culinary directories. StayEase provides customer service that can be contacted 24/7 in the local language, as well as more than 40 
        different local payments, both online and offline, including PayLater. StayEase also offers insurance products, enabling users to 
        easily get comprehensive protection. The StayEase application has been downloaded more than 60 million times, making it the most popular
         travel and lifestyle booking application in the Southeast Asian region.</p></div>
</body>
</html>